body {
  font-family: "Poppins", sans-serif;
  margin: 10px;
}
h1 {
  font-size: 50px;
}
.span_colour {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.main-1 {
  width: 50%;
  padding-left: 10px;
  text-align: justify;
}
.main-2 img {
  margin-top: 80px;
  margin-left: 400px;
  width: 50%;
  height: auto;
}
.linkedin {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: rgb(48, 47, 34);
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 5px;
  
}

.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}

.main-4 {
  margin-top: 80px;
  width: 50%;
  padding-left: 15px;
  text-align: justify;
}

.second-image {
  margin-top: 80px;
  margin-left: 150px;
  width: 50%;
  height: auto;
}
.dream-big {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
